<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up & Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/styles.css"> <!-- Adjusted the path -->
  <script src="/javascripts/flash-message.js" defer></script> <!-- Defer to ensure DOM is loaded first -->
</head>

<body class="bg-blue-400 flex items-center justify-center min-h-screen">
 <% if (message && message.length > 0) { %>
 <div id="flash-message" class="bg-red-500 text-white font-semibold py-3 px-8 rounded-md mb-4 w-30 absolute top-5 left-1/2 transform -translate-x-1/2">
   <h2><%= message %></h2>
 </div>
 <% } %>


  <!-- Container -->
  <div class="bg-blue-200 shadow-lg rounded-lg p-12 max-w-5xl w-full flex items-stretch">
    <!-- Sign-Up Form -->
    <div class="flex-1 p-8 rounded-lg">
      <h2 class="text-3xl -ml-12 text-center">Welcome to <strong class="text-green-600">Shopmate</strong></h2>
      <h2 class="text-xl ml-1 font-semibold mb-6">Create your account</h2>
      <form action="/users/register" method="POST" class="space-y-6">
        <input type="text" name="User_name" placeholder="Name" class="w-full px-5 py-3 border rounded-lg focus:outline-none focus:border-blue-600 text-lg" required>
        <input type="email" name="email" placeholder="Email" class="w-full px-5 py-3 border rounded-lg focus:outline-none focus:border-blue-600 text-lg" required>
        <input type="password" name="password" placeholder="Password" class="w-full px-5 py-3 border rounded-lg focus:outline-none focus:border-blue-600 text-lg" required>
        <div class="flex justify-center">
          <button class="px-5 bg-green-600 text-white py-2 rounded-full hover:bg-green-700 transition text-md">
            Create Account
          </button>
        </div>
      </form>
    </div>

    <!-- Divider -->
    <div class="flex items-center justify-center px-4">
      <div class="bg-green-600 text-white rounded-full w-12 h-12 flex items-center justify-center">
        <span class="text-sm font-semibold">or</span>
      </div>
    </div>

    <!-- Login Form -->
    <div class="flex-1 p-8 rounded-lg">
      <h2 class="text-3xl font-bold text-center text-gray-600 mb-6">Login</h2>
      <form action="/users/login" method="POST" class="space-y-6">
        <input type="email" name="email" placeholder="Email" class="w-full px-5 py-3 border rounded-lg focus:outline-none focus:border-blue-600 text-lg" required>
        <input type="password" name="password" placeholder="Password" class="w-full px-5 py-3 border rounded-lg focus:outline-none focus:border-blue-600 text-lg" required>
        <div class="flex justify-center">
          <button class="px-5 bg-green-600 text-white py-2 rounded-full hover:bg-green-700 transition text-md">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>

</body>

</html>
